
*{
	margin:0;
	padding:0;
}
html{
	background:#0B0C10;
}

nav{
	text-align: center;
}
h1{
	font-size: 2em;
	text-align: center;
	color: #C5C6C7;
	padding: 1em 1em 1em 0;
}

button{	
	padding: 0.65em 0.8em;
	margin:0.8em -0.2em;
	background: #1F2833;
	border:0;

}

button a{
	color: #C5C6C7;
	text-decoration: none;
	font-size: 2em;
}

button a:hover {
	color: white;
}

button a:active{
	color:#45A29E;	
}

div{
	text-align: center;
}
.answer{
	background:#0B0C10;
	margin:1em 0;
	border: 0.12em #66FCF1 solid;
	border-radius: 0.12em;
	font-size:1.5em;
}

.answer:hover {
	background:#45A29E;
	text-decoration: none;
}
